<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div><a href="/cadastro"><h1>Cadastrar</h1></a></div>

    <div><a href="/listar"><h1>Usuários</h1></a></div>

    <form action="/deslogar" method="post">
      <input class="deslogar" type="submit" value="Deslogar">
    </form>
  </header>


<div class="corpo">
  <h1 class="bem_vindo">Bem vindo </h1>
  <img src="img/computador.svg" />
</div>
</body>

</html>