@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #fefae0;
  font-family: "Montserrat";
  padding: 0 0 0 200px;
}
a {
  text-decoration: none;
  color: #3A5A40;
}
header {
  display: flex;
  column-gap: 5vw;
  padding: 10px;
  align-items: center;
  justify-content: right;
  margin-right: 300px;
}
.deslogar{
    border: none;
    background-color: #3A5A40;
    color: #FEFAE0;
    border-radius: 8px;
    transition: 500ms;
}
.deslogar:hover{
  transform: scale(1.1);
  transition: 500ms;
  }
  .bem_vindo{
    color: #3A5A40;
    font-size: 5vw;
    transition: 500ms;
  }
  .bem_vindo:hover{
    transform: scale(1.1);
  transition: 500ms;
  }

  .corpo{
    margin-top: 100px;
    display: flex;
    column-gap: 350px;
  }