<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/listar.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cadastro</title>
    </head>
    <body>
      <header>
        <div><a href="/cadastro"><h1>Cadastrar</h1></a></div>

        <div><a href="/listar"><h1>Usuários</h1></a></div>

        <form action="/deslogar" method="post">
          <input class="deslogar" type="submit" value="Deslogar">
        </form>
 
    </header>

    <div class="meio">

      <div class="entrar">

        <img src="img/ator.png" />

        <div class="forms">
      <form action="/cadastro" method="post">
        <div class="opcao">
        <label for="name">Nome:</label>
        <input type="text" name="name" >
      </div>


        <div class="opcao">
        <label for="user">Email:</label>
        <input type="text" name="user" id="user">
      </div>

        <div class="opcao">
        <label for="password">Senha:</label>
        <input type="text" name="password" id="password">
      </div>
    
        <button class="botao" type="submit" value="Logar">Logar</button>
      </form>
    </div>
    </div>
  </div>
    </body>
    </html>
</body>
</html>